<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Add Category</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Add Book</h1>
  <form th:action="@{/categories/add}" th:object="${category}" method="post">


    <div class="col-6 mb-3">
      <label class="form-label" for="name">Category:</label>
      <input class="form-control" type="text" th:field="*{name}" id="name">
      <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>


    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/categories}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>